{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",

    "AzureOpenAI__endpoint": "https://<your-aoai-resource>.openai.azure.com/",
    "AzureOpenAI__credential": "managedidentity",

    "EMBEDDING_MODEL_DEPLOYMENT_NAME": "text-embedding-3-small"
  }
}
